# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
dist
out
gen
dist.crx
dist.pem
*/demo.html
node_modules
package-lock.json

